body {
    background-color: #191919;
    text-align: center;
    color: white;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}
h3 {
    font-size: 20px;
}